# Mantenimiento Predictivo 1 - Load Data From Sources

## (1) PI Load Real Time Data
### 0- Preparación del Ambiente
Requiere tener instalado: pythonnet
http://pythonnet.github.io/

Confirmar dónde se encuentran las dlls: OSIsoft.AFSDK.dll en su máquina.

In [ ]:
#!pip install pythonnet

In [1]:
# sys module provides access to some variables used or maintained by the interpreter and to functions that interact 
# strongly with the interpreter. It is always available. https://docs.python.org/3/library/sys.html
# clr es la forma de declarar el package pythonnet (.net para python)
import sys
import clr

In [2]:
sys.path.append(r'C:\Program Files (x86)\PIPC\AF\PublicAssemblies\4.0')  
clr.AddReference('OSIsoft.AFSDK')

In [3]:
from OSIsoft.AF import *
from OSIsoft.AF.PI import *
from OSIsoft.AF.Asset import *
from OSIsoft.AF.Data import *
from OSIsoft.AF.Time import *
from OSIsoft.AF.UnitsOfMeasure import *
from OSIsoft.AF.Search import *

In [4]:
#initializes a C# list: from System.Collections.Generic import List
# Implicit loading is deprecated. Please use clr.AddReference('System.Collections').
clr.AddReference('System.Collections')
from System.Collections.Generic import List

In [3]:
from datetime import datetime, timedelta

In [27]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=Warning)

### 1- Acceso a la AF Database

In [73]:
#https://docs.osisoft.com/bundle/af-sdk/page/html/pisystem-hierarchy.htm
afservers = PISystems()
print('Tipo de Datos:', type(afservers))
iterator = afservers.GetEnumerator()
for server in iterator:
    print(server.Name)

Tipo de Datos: <class 'OSIsoft.AF.PISystems'>
192.168.103.66
PARCCVWPIEDA01
QARCCVWPIE01

In [74]:
# Objeto para la base de datos que busco consultar
# https://docs.osisoft.com/bundle/af-sdk/page/html/T_OSIsoft_AF_PISystem.htm
#afserver = afservers.DefaultPISystem
AFServer = afservers['PARCCVWPIEDA01']
#AFServer = afservers['QARCCVWPIE01']
print(AFServer.Name, AFServer.UniqueID, 'Clase:', type(AFServer))

PARCCVWPIEDA01 69941c34-7d8c-491f-b5b8-70bb5f66436f Clase: <class 'OSIsoft.AF.PISystem'>

In [75]:
# Acceso a una base de datos que no sea la default:
# afserver.Databases: https://docs.osisoft.com/bundle/af-sdk/page/html/T_OSIsoft_AF_AFDatabases.htm
# Databases.Database:
DB = AFServer.Databases.DefaultDatabase
print(DB.Name, type(AFServer))
DB = AFServer.Databases.get_Item("DOF")
print ('Database Name: {0}'.format(DB.Name), type(DB))

DOF <class 'OSIsoft.AF.PISystem'>
Database Name: DOF <class 'OSIsoft.AF.AFDatabase'>

### 2- Consultas - Objetos con assets y sus atributos

In [76]:
# 1° Objeto del arbol:
root = DB.Elements.get_Item(0)
root.Name

'PAMPA ENERGIA S.A.'

In [38]:
# Busco los objetos que necesito:
asset_lst = list(root.Elements)
EMA = asset_lst[3]
print(EMA.Name)
EMA_Inst = list(asset_lst[3].Elements)[0]
print(EMA_Inst.Name)
EMA_PTG = list(EMA_Inst.Elements)[3]
print(EMA_PTG.Name)
EMA_PTG_Comp = list(EMA_PTG.Elements)[0]
print(EMA_PTG_Comp.Name)
EMA_PTG_K_01 = list(EMA_PTG_Comp.Elements)[0]
print(EMA_PTG_K_01.Name)
#EMA_PTG_K_02 = list(EMA_PTG_Comp.Elements)[1]
#EMA_PTG_K_03 = list(EMA_PTG_Comp.Elements)[2]
#EMA_PTG_K_04 = list(EMA_PTG_Comp.Elements)[3]
#EMA_PTG_K_05 = list(EMA_PTG_Comp.Elements)[4]
#EMA_PTG_K_06 = list(EMA_PTG_Comp.Elements)[5]
#EMA_PTG_K_07 = list(EMA_PTG_Comp.Elements)[6]
#EMA_PTG_K_08 = list(EMA_PTG_Comp.Elements)[7]
#EMA_PTG_K_09 = list(EMA_PTG_Comp.Elements)[8]

El Mangrullo
Instalaciones
PTG EMAN
Compresores
K-01

In [166]:
# Puedo armar otra lista con los atributos de un asset:
attr_lst = list(asset_lst[13].Attributes)
print('Nivel 1, ejemplo de atributo:', attr_lst[0].Name, attr_lst[0].GetValue().Timestamp, attr_lst[0].GetValue(), 
      attr_lst[0].DisplayUOM, '- Objeto padre:', attr_lst[0].Element.Name)

Nivel 1, ejemplo de atributo: Plan Gas. Promedio Acumulado Venta Gas@9300 Participación 31/1/2022 00:00:00 600,00001152 Miles Metros Cubicos - Objeto padre: Sierra Chata

In [44]:
# Busco el atributo:
attr = EMA_PTG_K_01.Attributes.GetItem('Carga Motriz Compresor', True, True, True)
print('Attribute:', attr, attr.GetValue().Timestamp, attr.GetValue(), attr.get_DefaultUOM())

Attribute: Carga Motriz Compresor 21/2/2022 16:26:31 91,748046875 ampere

In [77]:
# Listado de Atributos
attr_lst = ['Carga Motriz Compresor', 'Presion Descarga Cil. 1y3 Compresor', 'Presion Descarga Cil. 2y4 Compresor',
           'Presion Succion Compresor', 'RPMs Instantanea']

### 3- Consultas - Definición de Rango de Tiempo de la consulta

In [78]:
################ INTERPOLATED VALUES ###########################
# Definir el intervalo de consulta:

# A AFTimeSpan represents a time interval (duration of time or elapsed time) that is measured as a positive or negative 
# number of years, months, days, hours, minutes, seconds, milliseconds, and fractions of a millisecond. 
# Create AFTimeSpan using constructor

now = AFTime.Now
span = AFTimeSpan.Parse('5m')
print("TimeSpan ", span)

TimeSpan  5m

In [79]:
# Defino un rango de tiempo para consultas de datos históricos
#### Tiempo Relativo:
timerange_start = AFTime('*')
#timerange_span = AFTimeSpan.Parse('-174d') # 1h, 1d, para restar tiempo: -1m, -1h, etc
#timerange_end = AFTime.op_Addition(timerange_start, timerange_span)
timerange_end = AFTime('2021-09-01 00:00:00')
timerange = AFTimeRange(timerange_start, timerange_end)
print(timerange_start, timerange_end, timerange_span)

23/2/2022 12:55:43 1/9/2021 00:00:00 -174d

In [80]:
#df_hist = pd.DataFrame(columns=['Asset', 'Attribute', 'Timestamp', 'Value', 'UOM'])
df_row = list()
pdlist = [] # en esta lista quedan todos los df para luego concatenarlos

for element in list(EMA_PTG_Comp.Elements):
    for attr in attr_lst:
        attr_obj = element.Attributes.GetItem(attr, True, True, True)
        values_lst = attr_obj.Data.InterpolatedValues(timerange, span, attr_obj.DisplayUOM, "", False)
        for val in values_lst:
            if True:
                #if val.IsGood:
                df_row.append([val.Attribute.Element.Name, val.Attribute.Name, val.Timestamp, val.Value, 
                                  val.Attribute.DisplayUOM])
df_hist = pd.DataFrame(df_row, columns=['element', 'attribute', 'timestamp', 'value', 'uom'])
df_hist.head()

,asset,attribute,timestamp,value,UOM
0,K-01,Carga Motriz Compresor,23/2/2022 12:55:00,96.09375,ampere
1,K-01,Carga Motriz Compresor,23/2/2022 12:50:00,96.09375,ampere
2,K-01,Carga Motriz Compresor,23/2/2022 12:45:00,95.849609,ampere
3,K-01,Carga Motriz Compresor,23/2/2022 12:40:00,95.996094,ampere
4,K-01,Carga Motriz Compresor,23/2/2022 12:35:00,95.996094,ampere
...,...,...,...,...,...
2275015,K-09,RPMs Instantanea,1/9/2021 00:20:00,1159.565674,revolution per minute
2275016,K-09,RPMs Instantanea,1/9/2021 00:15:00,1160.199097,revolution per minute
2275017,K-09,RPMs Instantanea,1/9/2021 00:10:00,1158.687866,revolution per minute
2275018,K-09,RPMs Instantanea,1/9/2021 00:05:00,1160.011353,revolution per minute
2275019,K-09,RPMs Instantanea,1/9/2021 00:00:00,1160.155518,revolution per minute

In [94]:
df_hist.rename(columns={'asset': 'element', 'UOM': 'uom'}, inplace=True)

In [89]:
df_hist.timestamp = df_hist.timestamp.astype(str)
df_hist.timestamp = df_hist.timestamp.apply(lambda x: x.split(' ')[0].split('/')[2] + '-' + 
                                                      x.split(' ')[0].split('/')[1].zfill(2) + '-' +
                                                      x.split(' ')[0].split('/')[0].zfill(2) + ' ' + x.split(' ')[1])
df_hist.timestamp = pd.to_datetime(df_hist.timestamp, format='%Y-%m-%d %H:%M:%S')
print(df_hist.shape)
print(df_hist.dtypes)
df_hist.tail()

(2275020, 5)
element              object
attribute            object
timestamp    datetime64[ns]
value                object
UOM                  object
dtype: object

,element,attribute,timestamp,value,UOM
2275015,K-09,RPMs Instantanea,2021-09-01 00:20:00,1159.565674,revolution per minute
2275016,K-09,RPMs Instantanea,2021-09-01 00:15:00,1160.199097,revolution per minute
2275017,K-09,RPMs Instantanea,2021-09-01 00:10:00,1158.687866,revolution per minute
2275018,K-09,RPMs Instantanea,2021-09-01 00:05:00,1160.011353,revolution per minute
2275019,K-09,RPMs Instantanea,2021-09-01 00:00:00,1160.155518,revolution per minute

In [92]:
# press_suc 'Presion Succion Compresor' press_1 'Presion Descarga Cil. 1y3 Compresor' 
# rpm 'RPMs Instantanea	' carga_motriz 'Carga Motriz Compresor' press_2 'Presion Descarga Cil. 2y4 Compresor'
attr_lst = ['Presion Succion Compresor', 'Presion Descarga Cil. 1y3 Compresor', 'RPMs Instantanea', 'Carga Motriz Compresor', 
            'Presion Descarga Cil. 2y4 Compresor']
feat_lst = ['press_suc', 'press_1', 'rpm', 'carga_matriz', 'press_2']
df_hist.drop_duplicates(subset=['attribute'])

,element,attribute,timestamp,value,UOM
0,K-01,Carga Motriz Compresor,2022-02-23 12:55:00,96.09375,ampere
50556,K-01,Presion Descarga Cil. 1y3 Compresor,2022-02-23 12:55:00,88.208076,kilogram-force per square centimeter
101112,K-01,Presion Descarga Cil. 2y4 Compresor,2022-02-23 12:55:00,89.334175,kilogram-force per square centimeter
151668,K-01,Presion Succion Compresor,2022-02-23 12:55:00,35.969379,kilogram-force per square centimeter
202224,K-01,RPMs Instantanea,2022-02-23 12:55:00,1172.734009,revolution per minute

In [131]:
df_aux_1 = df_hist[df_hist.attribute==attr_lst[0]]
df_aux_1.rename(columns={'value': feat_lst[0]}, inplace=True)
df_aux_1.drop(columns=['attribute', 'uom'], inplace=True)
for i in range(1, len(attr_lst)):
    df_aux_2 = df_hist[df_hist.attribute==attr_lst[i]]
    df_aux_2.rename(columns={'value': feat_lst[i]}, inplace=True)
    df_aux_2.drop(columns=['attribute', 'uom'], inplace=True)
    df_aux_1 = pd.merge(df_aux_1, df_aux_2,  how='left', left_on=['element', 'timestamp'], right_on = ['element', 'timestamp'])
df_aux_1.reset_index(drop=True, inplace=True)
df_aux_1.tail()

,element,timestamp,press_suc,press_1,rpm,carga_matriz,press_2
454999,K-09,2021-09-01 00:20:00,6.668857,17.618895,1159.565674,89.257812,35.136398
455000,K-09,2021-09-01 00:15:00,6.668857,17.618895,1160.199097,89.84375,35.136398
455001,K-09,2021-09-01 00:10:00,6.668857,17.831966,1158.687866,89.84375,35.136398
455002,K-09,2021-09-01 00:05:00,6.668857,17.831966,1160.011353,89.84375,34.934364
455003,K-09,2021-09-01 00:00:00,6.668857,17.831966,1160.155518,89.501953,35.158478

In [135]:
# La única forma de seleccionar 'Bad' es tratando la columna como astype(str) OJO:
#df_aux_1[df_aux_1.rpm=='Bad'] NO FUNCIONA
df_aux_1.press_suc.astype(str).replace('Bad', '-1').drop_duplicates()

0          35.96937942504883
1          35.70281219482422
9                         -1
10         35.83472442626953
31        35.385414123535156
                 ...
454146      7.41523551940918
454147     7.626288414001465
454149     6.900794982910156
454495    6.9282755851745605
454677     6.542445182800293
Name: press_suc, Length: 17964, dtype: object

In [120]:
df_aux_1.dtypes

element                 object
timestamp       datetime64[ns]
press_suc               object
press_1                 object
rpm                     object
carga_matriz            object
press_2                 object
dtype: object

In [136]:
# El .astype no reconoce como float a los strings con "," --> reemplazo por "."
# Los valores Bad, Comm Fail y I/O Timeout hay que convertirlos a numéricos. NO tengo claro cómo conviene "labelearlos", 
# por ahora, los convierto a un número negativo
for column in df_aux_1.columns[2:]:
    if df_aux_1[column].dtype == 'object':
        #df_aux_1[column] = df_aux_1[column].str.replace(',', '.')
        df_aux_1[column] = df_aux_1[column].astype(str).replace('Bad', '-1')
        df_aux_1[column] = df_aux_1[column].astype(str).replace('Comm Fail', '-2')
        df_aux_1[column] = df_aux_1[column].astype(str).replace('I/O Timeout', '-3')
        df_aux_1[column] = df_aux_1[column].astype('float64' , copy=True)
print(df_aux_1.dtypes)
df_aux_1.head()

element                 object
timestamp       datetime64[ns]
press_suc              float64
press_1                float64
rpm                    float64
carga_matriz           float64
press_2                float64
dtype: object

,element,timestamp,press_suc,press_1,rpm,carga_matriz,press_2
0,K-01,2022-02-23 12:55:00,35.969379,88.208076,1172.734009,96.093750,89.334175
1,K-01,2022-02-23 12:50:00,35.702812,88.139069,1172.676270,96.093750,89.278976
2,K-01,2022-02-23 12:45:00,35.702812,88.139069,1172.648193,95.849609,89.278976
3,K-01,2022-02-23 12:40:00,35.702812,88.139069,1173.026123,95.996094,89.278976
4,K-01,2022-02-23 12:35:00,35.702812,88.139069,1173.027832,95.996094,89.278976

In [137]:
# % Nulos
100*df_aux_1.isna().sum()/len(df_aux_1)

element         0.0
timestamp       0.0
press_suc       0.0
press_1         0.0
rpm             0.0
carga_matriz    0.0
press_2         0.0
dtype: float64

In [5]:
#path_data = 'C:\\Users\\COLMO\\OneDrive\\0-Data Science\\data_science\\data_pampa'
path_data = 'C:\\Users\\Usuario\\OneDrive\\0-Data Science\\data_science\\data_pampa'

In [8]:
output_file = 'EMA_compresores_5min_AF_ok.csv'
df_hist.to_csv(path_data + '\\' + output_file, sep=';', encoding='UTF-8', decimal = '.')

In [7]:
file = 'EMA_compresores_5min_AF_ok.csv'

In [73]:
df_comp = pd.read_csv(path_data + '\\' + file, sep=';', encoding='UTF-8', decimal = '.', dayfirst=True)
df_comp.drop(columns=['Unnamed: 0'], inplace=True)
df_comp.columns = df_comp.columns.str.lower()
df_comp.rename(columns={'asset': 'element'}, inplace=True)
df_comp.timestamp = df_comp.timestamp.apply(lambda x: x.split(' ')[0].split('/')[2] + '-' + 
                                                      x.split(' ')[0].split('/')[1].zfill(2) + '-' +
                                                      x.split(' ')[0].split('/')[0].zfill(2) + ' ' + x.split(' ')[1])
df_comp.timestamp = pd.to_datetime(df_comp.timestamp, format='%Y-%m-%d %H:%M:%S')
print(df_comp.shape)
print(df_comp.dtypes)
df_comp.tail()

(2251260, 5)
element              object
attribute            object
timestamp    datetime64[ns]
value                object
uom                  object
dtype: object

,element,attribute,timestamp,value,uom
2251255,K-09,RPMs Instantanea,2021-09-01 00:20:00,1159.565673828125,revolution per minute
2251256,K-09,RPMs Instantanea,2021-09-01 00:15:00,1160.1990966796875,revolution per minute
2251257,K-09,RPMs Instantanea,2021-09-01 00:10:00,1158.6878662109375,revolution per minute
2251258,K-09,RPMs Instantanea,2021-09-01 00:05:00,1160.0113525390625,revolution per minute
2251259,K-09,RPMs Instantanea,2021-09-01 00:00:00,1160.155517578125,revolution per minute

In [74]:
# press_suc 'Presion Succion Compresor' press_1 'Presion Descarga Cil. 1y3 Compresor' 
# rpm 'RPMs Instantanea	' carga_motriz 'Carga Motriz Compresor' press_2 'Presion Descarga Cil. 2y4 Compresor'
attr_lst = ['Presion Succion Compresor', 'Presion Descarga Cil. 1y3 Compresor', 'RPMs Instantanea', 'Carga Motriz Compresor', 
            'Presion Descarga Cil. 2y4 Compresor']
feat_lst = ['press_suc', 'press_1', 'rpm', 'carga_matriz', 'press_2']
df_comp.drop_duplicates(subset=['attribute'])

,element,attribute,timestamp,value,uom
0,K-01,Carga Motriz Compresor,2022-02-21 16:55:00,92.138671875,ampere
50028,K-01,Presion Descarga Cil. 1y3 Compresor,2022-02-21 16:55:00,89.37281799316406,kilogram-force per square centimeter
100056,K-01,Presion Descarga Cil. 2y4 Compresor,2022-02-21 16:55:00,90.47408294677734,kilogram-force per square centimeter
150084,K-01,Presion Succion Compresor,2022-02-21 16:55:00,34.569236755371094,kilogram-force per square centimeter
200112,K-01,RPMs Instantanea,2022-02-21 16:55:00,1172.8941650390625,revolution per minute

In [ ]:
df_aux_1 = df_comp[df_comp.attribute==attr_lst[0]]
df_aux_1.rename(columns={'value': feat_lst[0]}, inplace=True)
df_aux_1.drop(columns=['attribute', 'uom'], inplace=True)
for i in range(1, len(attr_lst)):
    df_aux_2 = df_comp[df_comp.attribute==attr_lst[i]]
    df_aux_2.rename(columns={'value': feat_lst[i]}, inplace=True)
    df_aux_2.drop(columns=['attribute', 'uom'], inplace=True)
    df_aux_1 = pd.merge(df_aux_1, df_aux_2,  how='left', left_on=['element', 'timestamp'], right_on = ['element', 'timestamp'])
df_aux_1.tail

,element,timestamp,press_suc,press_1,rpm,carga_matriz,press_2
0,K-01,2022-02-21 16:55:00,34.569236755371094,89.37281799316406,1172.8941650390625,92.138671875,90.47408294677734
1,K-01,2022-02-21 16:50:00,34.569236755371094,89.37281799316406,1172.7244873046875,91.845703125,90.47408294677734
2,K-01,2022-02-21 16:45:00,34.356258392333984,89.37281799316406,1172.8651123046875,91.748046875,90.47408294677734
3,K-01,2022-02-21 16:40:00,34.356258392333984,89.37281799316406,1172.442626953125,91.845703125,90.47408294677734
4,K-01,2022-02-21 16:35:00,34.356258392333984,89.14373779296875,1172.8486328125,91.845703125,90.22290802001953
...,...,...,...,...,...,...,...
450247,K-09,2021-09-01 00:20:00,6.668857097625732,17.618894577026367,1159.565673828125,89.2578125,35.13639831542969
450248,K-09,2021-09-01 00:15:00,6.668857097625732,17.618894577026367,1160.1990966796875,89.84375,35.13639831542969
450249,K-09,2021-09-01 00:10:00,6.668857097625732,17.831966400146484,1158.6878662109375,89.84375,35.13639831542969
450250,K-09,2021-09-01 00:05:00,6.668857097625732,17.831966400146484,1160.0113525390625,89.84375,34.934364318847656
450251,K-09,2021-09-01 00:00:00,6.668857097625732,17.831966400146484,1160.155517578125,89.501953125,35.158477783203125

In [90]:
# El .astype no reconoce como float a los strings con "," --> reemplazo por "."
# Los valores Bad, Comm Fail y I/O Timeout hay que convertirlos a numéricos. NO tengo claro cómo conviene "labelearlos", 
# por ahora, los convierto a un número negativo
for column in df_aux_1.columns[2:]:
    #df_aux_1[column] = df_aux_1[column].str.replace(',', '.')
    df_aux_1[column] = df_aux_1[column].str.replace('Bad', '-1')
    df_aux_1[column] = df_aux_1[column].str.replace('Comm Fail', '-2')
    df_aux_1[column] = df_aux_1[column].str.replace('I/O Timeout', '-3')
    df_aux_1[column] = df_aux_1[column].astype('float64' , copy=True)
print(df_aux_1.dtypes)
df_aux_1.head()

element                 object
timestamp       datetime64[ns]
press_suc              float64
press_1                float64
rpm                    float64
carga_matriz           float64
press_2                float64
dtype: object

,element,timestamp,press_suc,press_1,rpm,carga_matriz,press_2
0,K-01,2022-02-21 16:55:00,34.569237,89.372818,1172.894165,92.138672,90.474083
1,K-01,2022-02-21 16:50:00,34.569237,89.372818,1172.724487,91.845703,90.474083
2,K-01,2022-02-21 16:45:00,34.356258,89.372818,1172.865112,91.748047,90.474083
3,K-01,2022-02-21 16:40:00,34.356258,89.372818,1172.442627,91.845703,90.474083
4,K-01,2022-02-21 16:35:00,34.356258,89.143738,1172.848633,91.845703,90.222908

In [91]:
# % Nulos
100*df_aux_1.isna().sum()/len(df_aux_1)

element         0.0
timestamp       0.0
press_suc       0.0
press_1         0.0
rpm             0.0
carga_matriz    0.0
press_2         0.0
dtype: float64

In [92]:
output_file = 'EMA_compresores_5min_ok.csv'
df_aux_1.to_csv(path_data + '\\' + output_file, sep=';', encoding='UTF-8', decimal = '.')

# (2) PI from Datalink

In [13]:
file = 'EMA_compresores_5min.csv'

In [14]:
import locale
locale.getlocale()

('Spanish_Argentina', '1252')

In [15]:
# pd.read_csv()'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), 
# encoding='windows-1251' o 'UTF-8')
df_comp = pd.read_csv(path_data + '\\' + file, sep=';', encoding='windows-1251').rename(columns={'Unnamed: 0': 'timestamp'})
df_comp.columns = df_comp.columns.str.lower()
df_comp.shape

(48086, 46)

In [16]:
# Estructura del nombre de tags esperada: K-01_COMP_RPM

In [17]:
# Necesito obtener el listado de compresores: splitteo por el caracter "_", tomo sólo el primer elemento splitteado, busco los uniques (set)
# convierto el set en lista:
element_lst = list(set([re.split("_", x)[0] for x in df_comp.columns[1:]]))
element_lst.sort() # Ordena in place y devuelve nan por eso se debe poner abajo que lo muestre.
element_lst

['k-01', 'k-02', 'k-03', 'k-04', 'k-05', 'k-06', 'k-07', 'k-08', 'k-09']

In [18]:
# Listado de tags
tag_lst = list(set([re.split("_", x, maxsplit=1)[1] for x in df_comp.columns[1:]]))
tag_lst

['comp_rpm',
 'em_carga_motriz',
 'presion_succion',
 'presion_descarga 1y3',
 'presion_descarga 2y4']

In [19]:
keys = [element_lst[0]+'_'+x for x in tag_lst]
values = [x for x in tag_lst]
dict(zip(keys, values))

{'k-01_comp_rpm': 'comp_rpm',
 'k-01_em_carga_motriz': 'em_carga_motriz',
 'k-01_presion_succion': 'presion_succion',
 'k-01_presion_descarga 1y3': 'presion_descarga 1y3',
 'k-01_presion_descarga 2y4': 'presion_descarga 2y4'}

In [17]:
print(element_lst[0]+'_'+tag_lst[0])
df_list = []
for element in element_lst:
    df_aux_columns = ['timestamp']
    for tag in tag_lst:
        df_aux_columns.append(element+'_'+tag)
    keys = [element+'_'+x for x in tag_lst]
    values = [x for x in tag_lst]
    rename_col_dict = dict(zip(keys, values))
    df_aux = df_comp[df_aux_columns].rename(columns=rename_col_dict)
    df_aux['element'] = element
    df_list.append(df_aux)
df_hist = pd.concat(df_list, ignore_index=True)
df_hist.tail()

k-01_presion_succion

                 timestamp presion_succion presion_descarga 1y3     comp_rpm em_carga_motriz presion_descarga 2y4 element
432769  14-feb-22 16:45:00     6,682048798          18,11018372  1168,453491     94,97070313          37,53433228    k-09
432770  14-feb-22 16:50:00     6,682048798          18,38177109  1171,169067     95,21484375          37,53433228    k-09
432771  14-feb-22 16:55:00     6,682048798          18,38177109  1171,936401     94,43359375          37,53433228    k-09
432772  14-feb-22 17:00:00     6,682048798          18,38177109  1172,822754     95,21484375          37,53433228    k-09
432773  14-feb-22 17:05:00     6,769986153          18,43807602  1172,820801      94,3359375          37,65245819    k-09

In [18]:
# Se renombran columnas para facilidad de uso
df_hist.rename(columns={'presion_descarga 1y3': 'press_1', 'presion_succion': 'press_suc', 'presion_descarga 2y4': 'press_2', 
                       'comp_rpm': 'rpm', 'em_carga_motriz': 'carga_motriz'}, inplace=True)

In [19]:
# Correcciones de Tipo de Datos
#df_hist.timestamp.replace(r"\d{2}-ago-\d{4} \d{2}:\d{2}:\d{2}", r"\d{2}-aug-\d{4} \d{2}:\d{2}:\d{2}", inplace=True, regex=True)
#datetime.datetime.strptime('31-aug-21 18:00:00', '%d-%b-%y %H:%M:%S')
df_hist.timestamp = df_hist.timestamp.str.replace('ago', 'aug')
df_hist.timestamp = df_hist.timestamp.str.replace('ene', 'jan')
df_hist.timestamp = df_hist.timestamp.str.replace('abr', 'apr')
df_hist.timestamp = df_hist.timestamp.str.replace('ago', 'aug')
df_hist.timestamp = df_hist.timestamp.str.replace('dic', 'dec')
#df_hist.timestamp.astype('datetime64' , copy=False)
# https://docs.python.org/3.7/library/datetime.html#strftime-strptime-behavior
df_hist.timestamp = pd.to_datetime(df_hist.timestamp, dayfirst=True, format='%d-%b-%y %H:%M:%S')
df_hist.head()

            timestamp    press_suc      press_1          rpm carga_motriz      press_2 element
0 2021-08-31 18:00:00  34,26144409   89,3755722  1173,366211  97,75390625  90,52375793    k-01
1 2021-08-31 18:05:00  34,26144409   89,3755722  1173,895508  97,02148438  90,31398773    k-01
2 2021-08-31 18:10:00  34,26144409   89,3755722  1173,163452  96,77734375  90,31398773    k-01
3 2021-08-31 18:15:00  34,26144409  89,15753937  1172,869263     97,65625  90,31398773    k-01
4 2021-08-31 18:20:00  34,26144409  88,22463989  1173,551025       96,875   89,5825882    k-01

In [20]:
df_hist.dtypes

timestamp       datetime64[ns]
press_suc               object
press_1                 object
rpm                     object
carga_motriz            object
press_2                 object
element                 object
dtype: object

In [21]:
# El .astype no reconoce como float a los strings con "," --> reemplazo por "."
# Los valores Bad, Comm Fail y I/O Timeout hay que convertirlos a numéricos. NO tengo claro cómo conviene "labelearlos", 
# por ahora, los convierto a un número negativo
for column in df_hist.columns[1:-1]:
    df_hist[column] = df_hist[column].str.replace(',', '.')
    df_hist[column] = df_hist[column].str.replace('Bad', '-1')
    df_hist[column] = df_hist[column].str.replace('Comm Fail', '-2')
    df_hist[column] = df_hist[column].str.replace('I/O Timeout', '-3')
    df_hist[column] = df_hist[column].astype('float64' , copy=True)
print(df_hist.dtypes)
df_hist.head()

timestamp       datetime64[ns]
press_suc              float64
press_1                float64
rpm                    float64
carga_motriz           float64
press_2                float64
element                 object
dtype: object

            timestamp  press_suc  press_1    rpm  carga_motriz  press_2 element
0 2021-08-31 18:00:00       34.3     89.4 1173.4          97.8     90.5    k-01
1 2021-08-31 18:05:00       34.3     89.4 1173.9          97.0     90.3    k-01
2 2021-08-31 18:10:00       34.3     89.4 1173.2          96.8     90.3    k-01
3 2021-08-31 18:15:00       34.3     89.2 1172.9          97.7     90.3    k-01
4 2021-08-31 18:20:00       34.3     88.2 1173.6          96.9     89.6    k-01